@import 'reset';
@import 'grid';
@import 'helpers';

$grid-color: rgba(125, 176, 246, 0.67);

body {
  font-family: 'Corbel', sans-serif;
}

.demo {
  &__grid {
    code {
      @extend .demo__paragraph;
      background-color: lighten($grid-color, 20);
      border: 1px solid $grid-color;
      text-align: center;
      display: block;
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: 1rem;
      border-radius: .25rem;
    }

    section {
      margin-bottom: 2rem;
    }
  }

  &__title {
    @include responsive-font(2.8vw, 32px, 46px, 36px);
    font-family: 'Corbel', sans-serif;
    line-height: 1.1;
    margin: 1em 0;
    font-weight: bold;
  }

  &__paragraph {
    @include responsive-font(1.8vw, 16px, 24px, 18px);
    font-family: 'Corbel', sans-serif;
    line-height: 1.1;
    font-weight: normal;
  }

  &__subtitle {
    @extend .demo__paragraph;
    margin-bottom: 1em;
    font-weight: bold;
  }
}