@import '../index.scss';

$container-max: 1680px;

@include easy-flex-breakpoint('tiny', 480px, 10px, 10px);
@include easy-flex-breakpoint('small', 768px, 10px, 10px);
@include easy-flex-breakpoint('medium', 1024px, 10px, 20px);
@include easy-flex-breakpoint('large', 1200px, 10px, 20px);
@include easy-flex-breakpoint('huge', 1440px, 20px, 40px);
@include easy-flex-breakpoint('full', $container-max, 20px, 40px);

@include create-easy-flex((
        columns: 12,
        container-width: 100%,
        container-max-width: $container-max,
        gutter-width: 10px,
        vertical-space: 10px,
));

@include easy-add-class(tal) {
  text-align: left !important;
}

@include easy-add-class(tar) {
  text-align: right !important;
}

@include easy-add-class(tac) {
  text-align: center !important;
}