@mixin create-order() {
  @for $index from 1 through $columns-amount {
    @each $key, $value in $breakpoints {
      @include respond-to($key) {
        .order-#{$index}\@#{$key} {
          order: $index;
        }
      }
    }
  }
}

@mixin create-show-and-hide() {
  @each $key, $value in $breakpoints {
    @include respond-to($key) {
      .show\@#{$key} {
        display: unset;
      }
      .hide\@#{$key} {
        display: none;
      }
    }
  }
}